<div class="modal-content">
    <div class="modal-header">
        <p class="modal-title fs-5">{{ title }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body fst-italic">
        <p>Альбом:</p> <p class="text-primary fs-5">{{ album.name }} &#169 {{ album.year }}, {{ album.maker }}</p><br>
        <p>Исполнитель:</p> <p class="text-primary fs-5">{{ album.artist }}</p><br>
        <p class="text-success">Это действие уже нельзя будет отменить...</p>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-danger"
                hx-post = "{% url 'album_remove' pk=album.pk %}"
                hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'>Удаление</button>
                <span class="flex-grow-1"></span>
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Отмена</button>
    </div>
</div>
