* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    /*background: blue;*/
/*    margin: 0;*/
/*    line-height: unset;*/
    font-family: Helvetica, sans-serif;
    /*width: 100%;*/
    /*height: 100%;*/
    /*padding-top: 3rem;*/
    /*margin-bottom: 1.5rem;*/
}

main {
    margin-top: 3rem;
    margin-bottom: 2rem;
    /*padding-top: 3rem;*/
    /*margin-bottom: 1.5rem;*/
    /*background: #555555;*/
    /*width: 90vw;*/
}
img {
    height: 240px;
    width: 240px;
}

.navbar.fixed-right {
    position: fixed;
    top: 3.5rem;
    bottom: 0;
    width: 8vw;
    /*align-items: flex-start;*/
    right: 2px;
    z-index: 1030;
}
